.cardSearchWrapper {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}

.cardSearchWrapper::-webkit-scrollbar {
  width: 8px;
}

.cardSearchWrapper::-webkit-scrollbar-track {
  background-color: #f0f0f000;
}

.cardSearchWrapper::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.artSearch {
  overflow-x: hidden;
  overflow-y: hidden;
}

dialog[open] {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
}

dialog[open] article {
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border-radius: 8px;
}

dialog[open] header {
  background-color: rgb(30, 30, 30);
  color: white !important;
  padding: 15px;
  border-radius: 8px 8px 0 0;
}

dialog[open] footer {
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
}

dialog[open] footer button {
  background-color: rgb(219, 102, 34);
  color: white;
  padding: 10px 20px;
  border: 2px solid rgb(219, 102, 34);
  border-radius: 30px;
  cursor: pointer;
}

dialog[open] footer button:hover {
  background-color: rgb(50, 50, 50);
  border-color: white;
}

dialog[open] input {
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(30, 30, 30);
  border: 3px solid rgb(219, 102, 34);
  width: 100%;
}
