input:focus,
textarea:focus,
select:focus,
article:focus,
form:focus,
summary:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.color1 {
  background-color: rgb(50, 50, 50);
}

.color2 {
  background-color: rgb(219, 102, 34);
}

.d-flex {
  display: flex;
}

.left {
  margin-left: 10px;
}

/*APP HOME */
.gameList {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.title {
  text-align: center;
}

.gamesWrapper {
  width: 100%;
  padding: 10px;
}

.loadingBg {
  background-color: rgb(30, 30, 30);
  font-size: 2rem;
  display: block;
}

/* APP SIGNIN */
.BtnPosition {
  margin-top: 10px;
  text-align: right;
}
.loginPage {
  height: 100vh;
  padding-top: 7%;
}
.btnHomePosition {
  margin-top: 10px;
}
.btnHome {
  text-decoration: none;
}
.loginBtn {
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid rgb(50, 50, 50);
  background-color: rgb(210, 79, 59);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.loginBtn:hover {
  background-color: rgb(50, 50, 50);
  border-color: white;
}
.loginBtn:focus {
  outline: 2px solid rgb(255, 255, 255);
}
.loginWrapper1 {
  width: 30%;
  text-align: center;
  padding-right: 20px;
  margin-top: 5%;
}
.loginWrapper2 {
  width: 70%;
  text-align: center;
  padding-left: 20px;
}

.logoPosition {
  padding-top: 10px;
}

label {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.inputLogin {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(30, 30, 30);
  border: 3px solid rgb(210, 79, 59);
  width: 100%;
  margin-bottom: 16px;
}

.inputLogin:focus {
  border-color: 10px solid rgb(210, 79, 59) !important;
  outline: 2px solid rgb(210, 79, 59);
}

.buttonSignUp {
  background-color: rgb(210, 79, 59);
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 5px;
  border: 2px solid rgb(210, 79, 59);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonSignUp:hover {
  background-color: rgb(50, 50, 50);
  border-color: white;
}

/* APP REGISTER */
.registerPage {
  height: 100vh;
  padding-top: 5%;
}

.registerWrapper1 {
  width: 30%;
  text-align: center;
  padding-right: 20px;
}

.registerWrapper2 {
  width: 70%;
  text-align: center;
  padding-left: 20px;
  padding-top: 3%;
}

.inputRegister {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(30, 30, 30);
  border: 3px solid rgba(225, 57, 71, 0.944);
  width: 100%;
  margin-bottom: 16px;
}

.inputRegister:focus {
  border-color: 10px solid rgba(225, 57, 71, 0.944) !important;
  outline: 2px solid rgb(210, 79, 59);
}

.buttonRegister {
  background-color: rgba(225, 57, 71, 0.944);
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 5px;
  border: 2px solid rgb(210, 79, 59);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonRegister:hover {
  background-color: rgb(50, 50, 50);
  border-color: white;
}

body {
  background-color: rgb(30, 30, 30);
}

/* APPP ROFILE */
.containerProfile {
  height: 100vh;
}
.userCard {
  width: 30%;
  padding-right: 20px;
}

.datiUser {
  width: 50%;
}

.infoUser {
  width: 50%;
}



.summaryProfile {
  align-items: end;
  background-color: rgb(219, 102, 34);
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 5px;
  border: 2px solid rgb(210, 79, 59);
  cursor: pointer;
  transition: background-color 0.3s ease;
}