.color1{
  background-color: rgb(50, 50, 50);
}

.color2{
    background-color: rgb(219, 102, 34);
}

.d-flex{
  display: flex;
}

.left{
  margin-left: 10px;
}

/* SIDEBAR */
main{
  display: flex;
  width: 100%;
}

main > aside{
  width: 20%;
  padding: 15px;
}

/* MAIN HOME Colonne della home*/
.gameList{
  column-count: 3;
  width: 100%;
}

.loading{
  font-size: 2rem;
  display: block;

}

.title{
  text-align: center;
}

.gamesWrapper{
  width: 80%;
  padding: 10px;
}

