input:focus,
textarea:focus,
select:focus,
article:focus,
form:focus,
summary:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

body {
  background-color: rgb(30, 30, 30);
}

.title {
  text-align: center;
}
